.dashboard {
  .EcommerceDashboardPanelLatestOrders {
    .dashboard-panel-header {
      background-color: #880E4F !important;
    }
    .dashboard-panel-footer {
      background-color: #FCE4EC !important;
    }
  }
  .EcommerceDashboardPanelFavouriteProducts {
    .dashboard-panel-header {
      background-color: #E65100 !important;
    }
    .dashboard-panel-footer {
      background-color: #FFF3E0 !important;
    }
  }
  .EcommerceDashboardPanelOrderCount {
    .dashboard-panel-header {
      background-color: #3E2723 !important;
    }
    .dashboard-panel-footer {
      background-color: #EFEBE9 !important;
    }
  }
  .EcommerceDashboardPanelOrderStep {
    .dashboard-panel-header {
      background-color: #004D40 !important;
    }
    .dashboard-panel-footer {
      background-color: #E0F2F1 !important;
    }
  }
  .EcommerceDashboardPanelSearchHistory {
    .dashboard-panel-header {
      background-color: #0D47A1 !important;
    }
    .dashboard-panel-footer {
      background-color: #E3F2FD !important;
    }
  }
  .EcommerceDashboardPanelSearchHistory {
    .dashboard-panel-content {
      h3 {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
  .EcommerceDashboardPanelFavouriteProducts {
    .dashboard-panel-content {
      li {
        padding: 10px;
        clear: left;
        span {
          float: left;
          display: block;
          width: 3em;
          color: #FB8C00;
          strong {
            font-size: 1.5em;
          }
        }
        a {
          display: inline;
          padding: 0 !important;
          margin-left: 3.5em;
          display: block;
        }
      }
    }
  }
  .EcommerceDashboardPanelOrderStep {
    .dashboard-panel-content {
      li {
        strong {
          display: block;
          float: left;
        }
        span {
          display: block;
          float: right;
        }
        &:hover {
          em {
            display: block;
          }
        }
      }
      em {
        display: none;
        clear: both;
      }
    }
  }
}
